<div class="modal info-modal fade" id="setting-confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="setting-toggle-form">
          <div class="modal-toggle-wrapper">
            <ul class="modal-img mb-3">
              <li>
                <i class="fas fa-question-circle"></i>
              </li>
            </ul>
            <h3 class="text-center pb-2">Confirmation</h3>
            <p class="text-center c-light">Are you sure you want to proceed?</p>
            <div class="confirm-modal">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">No</button>
              <button class="btn btn-primary text-white" type="submit" id="confirm">Yes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
