<div class="modal delete-modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-toggle-wrapper">
          <ul class="modal-img mb-3">
            <li>
              <div class="d-flex"><i data-feather="trash-2"></i></div>
            </li>
          </ul>
          <h3 class="text-center pb-2">Delete Item?</h3>
          <p class="text-center c-light">This Item Will Be Deleted Permanently. You Can't Undo This Action.</p>
          <div class="confirm-modal">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">No</button>
            <form id="delete-form">
              <button class="btn btn-primary text-white" type="submit">Yes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
