<%- include('./components/error-alert.ejs', { error:error }) %>

<div class="login-main">
  <form class="theme-form" method="post" action="/admin/auth/forgot-password">
    <h4>Forgot Password ?</h4>
    <br />
    <div class="form-group">
      <label class="col-form-label">Email Address</label>
      <input class="form-control" name="email" type="email" required="" placeholder="test@gmail.com" />
    </div>
    <div class="form-group mb-0">
      <div class="text-end">
        <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Send</button>
      </div>
    </div>
  </form>
</div>