<div class="modal edit-faq fade" id="editFAQ" tabindex="-1" aria-labelledby="dashboard8" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content category-popup">
      <div class="modal-header">
        <h5 class="modal-title" id="modaldashboard">Edit FAQ</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0 custom-input">
        <div class="text-start">
          <div class="p-20">
            <form id="edit-faq">
              <div class="row mb-3">
                <label class="form-label col-2" for="validationCategoryName">Title<span class="txt-danger">*</span></label>
                <input class="form-control col-10" id="title" name="title" type="text" placeholder="Enter Question.." required="" />
              </div>
              <div class="row mb-3">
                <label class="form-label col-2" for="validationSlug">Description<span class="txt-danger">*</span></label>
                <textarea class="form-control col-10" name="description" id="description" placeholder="Enter Description.." required rows="3"></textarea>
              </div>
              <div class="row mb-3">
                <label class="form-label col-2">Status<span class="txt-danger">*</span></label>
                <div class="form-check-size col-10">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input switch-primary check-size" checked name="status" id="status" type="checkbox" role="switch" />
                  </div>
                </div>
              </div>
              <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>