<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <div class="maintenance-page">
        <div class="maintenance-aligns">
            <h1>
                MAINTENANCE
            </h1>
            <p><%= systemSetting.maintenance_msg %></p>
        </div>
    </div>
</body>

</html>