<i data-feather="x" class="chat-deactive"></i>
<div class="call-list-center empty-chat <%= hide ? 'd-none' : '' %>">
    <img src="<%= assetPath %>/front/images/chat.png" alt="" />
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <p>
        <%= content %>
    </p>
</div>