<div class="recent-default dynemic-sidebar active">
    <div class="chat custom-scroll">
        <ul class="chat-cont-setting">
            <li>
                <a href="javascript:void(0)" id="openNewChatModal">
                    <span>new chat</span>
                    <div class="icon-btn btn-outline-primary button-effect btn-sm">
                        <i data-feather="message-square"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#msgcallModal">
                    <span>new call</span>
                    <div class="icon-btn btn-outline-success button-effect btn-sm">
                        <i data-feather="phone"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    <span>Add new Friend</span>
                    <div class="icon-btn btn-outline-danger button-effect btn-sm">
                        <i data-feather="users"></i>
                    </div>
                </a>
            </li>
        </ul>
        <div class="theme-title">
            <div class="d-flex">
                <div>
                    <h2>Chat</h2>
                    <h4>Start New Conversation</h4>
                </div>
                <div class="media-body">
                    <a class="icon-btn btn-outline-light button-effect pull-right mobile-back" id="mobile-menu">
                        <i class="ti-angle-right"></i></a>
                </div>
                <div class="flex-grow-1">
                    <a class="icon-btn btn-outline-light btn-sm search icon-back" id="icon-back" href="javascript:void(0)">
                        <i data-feather="more-vertical"></i>
                    </a>
                    <a class="icon-btn btn-outline-light btn-sm search contact-search" href="javascript:void(0)">
                        <i data-feather="search"></i>
                    </a>
                    <form class="form-inline search-form">
                        <div class="form-group">
                            <input class="form-control-plaintext" id="chatSearch" type="search"
                                placeholder="Search.." />
                            <div class="icon-close close-search"><i data-feather="x"></i></div>
                        </div>
                    </form>
                    <a class="icon-btn btn-primary btn-fix chat-cont-toggle outside" href="javascript:void(0)">
                        <i data-feather="plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="theme-tab tab-sm chat-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" data-to="chat-content">
                    <a class="nav-link button-effect active" id="chat-tab" data-bs-toggle="tab" href="#chat" role="tab"
                        aria-controls="chat" aria-selected="true" data-intro="Start chat">
                        <i data-feather="message-square"></i>Chat
                    </a>
                </li>
                <li class="nav-item" data-to="chat-content">
                    <a class="nav-link button-effect" id="call-tab" data-bs-toggle="tab" href="#call" role="tab"
                        aria-controls="call" aria-selected="false">
                        <i data-feather="phone"></i>Call
                    </a>
                </li>
                <li class="nav-item" data-to="chat-content">
                    <a class="nav-link button-effect" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">
                        <i data-feather="users"></i>Contact
                    </a>
                </li>
            </ul>
            <div class="tab-content custom-scroll" id="myTabContent">
                <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                    <%- include('./recent-chat') %>
                </div>
                <div class="tab-pane fade" id="call" role="tabpanel" aria-labelledby="call-tab">
                    <%- include('./recent-call') %>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <%- include('./contacts') %>
                </div>
            </div>
        </div>
    </div>
</div>