<aside class="chitchat-right-sidebar" id="slide-menu">
    <div class="custom-scroll right-sidebar">
        <div class="contact-profile">
            <div class="theme-title">
                <div class="d-flex">
                    <div>
                        <h2>Profile</h2>
                        <h4>Personal Information</h4>
                    </div>
                    <div class="flex-grow-1">
                        <a class="icon-btn btn-outline-light btn-sm close-profile ms-3" href="javascript:void(0)">
                            <i data-feather="x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="contact-top">
                    <!-- dynamically add avatar -->
                </div>
                <div class="name">
                    <h3><!-- dynamically add name --></h3>
                    <h6><!-- dynamically add bio --></h6>
                </div>
            </div>
        </div>
        <div class="document">
            <div class="filter-block">
                <div class="collapse-block open">
                    <h5 class="block-title">Recent Shared Document
                        <label class="badge badge-success sm ms-2" id="document-count">0</label>
                    </h5>
                    <div class="block-content">
                        <ul class="document-list" id="recent-document">
                            <!-- dynamically Filled  -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-gallery portfolio-section grid-portfolio">
            <div class="collapse-block open">
                <h5 class="block-title">Recent Shared Media
                    <label class="badge badge-primary sm ms-2" id="media-count">0</label>
                </h5>
                <div class="block-content">
                    <div class="row share-media zoom-gallery" id="recent-media">
                        <!-- It will Fill dynamically -->
                    </div>
                </div>
            </div>
        </div>
        <div class="status">
            <div class="collapse-block open">
                <h5 class="block-title">Starred Messages
                    <label class="badge badge-warning sm ms-2" id="starred-count">0</label>
                </h5>
                <div class="block-content">
                    <div class="contact-chat p-0 m-0">
                        <ul class="str-msg" id="recent-starred">
                            <!-- fill dynamically -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="status other d-block">
            <h5 class="block-title p-b-10">Contact info</h5>
            <ul>
                <li>
                    <h5>
                        <a href="javascript:void(0)">
                            <i data-feather="smartphone"></i>
                        </a>
                    </h5>
                </li>
                <li>
                    <h5>
                        <a href="javascript:void(0)">
                            <i data-feather="mail"></i>
                        </a>
                    </h5>
                </li>
                <li>
                    <h5>
                        <a href="javascript:void(0)">
                            <i data-feather="user"></i>
                        </a>
                    </h5>
                </li>
            </ul>
        </div>
        <div class="status other">
            <ul>
                <li  id="clear-chat" class="clear-chat">
                    <h5>
                        <a href="javascript:void(0)"><i data-feather="trash-2"></i>Clear Chat</a>
                    </h5>
                </li>
                <li  id="export-chat" class="export-chat">
                    <h5>
                        <a href="javascript:void(0)"> <i data-feather="external-link"></i>Export Chat</a>
                    </h5>
                </li>
                <li id="report-contact" class="report-contact">
                    <h5>
                        <a href="javascript:void(0)"><i data-feather="alert-circle"></i>Report Contact </a>
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</aside>