<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-sm-6">
        <h3><%= subTitle %></h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin/dashboard">
              <svg class="stroke-icon">
                <use href="<%= assetPath %>/admin/svg/icon-sprite.svg#<%= icon %>"></use>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item active"><%= subTitle %></li>
        </ol>
      </div>
    </div>
  </div>
</div>