<div class="dt-layout-row">
  <!-- table status label -->
  <div class="dt-layout-cell dt-start">
    <div class="dt-info" aria-live="polite" id="<%= tableId %>-label" role="status"></div>
  </div>
  <div class="dt-layout-cell dt-end">
    <!-- display pagination dynamically -->
    <div class="dt-paging paging_full_numbers" id="<%= tableId %>-pagination"></div>
  </div>
</div>