<div class="modal edit-report fade" id="editReport" tabindex="-1" aria-labelledby="dashboard8" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content category-popup">
      <div class="modal-header">
        <h5 class="modal-title" id="modaldashboard">Edit Report</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0 custom-input">
        <div class="text-start">
          <div class="p-20">
            <form id="edit-report">
              <div class="row mb-3">
                <label class="form-label col-md-2" for="validationCategoryName">Admin Notes<span class="txt-danger">*</span></label>
                <input class="form-control col-10" id="admin_notes" name="admin_notes" placeholder="Note..." type="text"required="" />
              </div>
              <div class="row mb-3">
                <label class="form-label col-md-2" for="validationCategoryName">Status<span class="txt-danger">*</span></label>
                <select name="status" id="status" class="form-select col-10">
                    <% statusOptions.forEach(status => { %>
                      <option value="<%= status %>"><%= status.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()) %></option>
                    <% }); %>
                </select>
              </div>
              <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
