<div class="modal admin-approval fade" id="adminApprovalModal" tabindex="-1" aria-labelledby="adminApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminApprovalModalLabel">
                    <i class="fa fa-clock text-warning me-2"></i>Deletion Request Submitted
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="warning-icon text-warning">
                    <i class="fa fa-hourglass-half"></i>
                </div>
                <h4>Waiting for Admin Approval</h4>
                <p>Your account deletion request has been submitted and is pending admin approval.</p>
                <div class="alert alert-info mt-3">
                    <i class="fa fa-info-circle me-2"></i>
                    You will receive a notification once your request has been processed. This typically takes 24-48 hours.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
