<div class="modal fade archive-all-chat" id="archive-all-chat" tabindex="-1" role="dialog" aria-labelledby="clearChatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="clearAllChatModalLabel">Confirm Archive All Chat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to archive all your chats? This will move all conversations to the archived section. 
                You can restore them anytime from the archive.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirmarchiveChat">Archive</button>  
        </div>
      </div>
    </div>
</div>
  