<div class="modal change-password fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="changePasswordForm">
          <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="oldPassword" class="form-label">Old Password</label>
              <input type="password"  placeholder="Enter Old Password..."  class="form-control" name="oldPassword" id="oldPassword" required autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input type="password"  placeholder="Enter New Password..."  class="form-control" name="newPassword" id="newPassword" required autocomplete="off">
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm New Password</label>
              <input type="password"  placeholder="Enter Confirm Password..."  class="form-control" name="confirmPassword" id="confirmPassword" required autocomplete="off">
            </div>
            <div id="changePasswordError" class="text-danger d-none"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm">Change</button>
          </div>
        </form>
      </div>
    </div>
</div>