<!-- Bootstrap Modal -->
<div class="modal fade clear-chat-modal" id="clearChatModal" tabindex="-1" role="dialog" aria-labelledby="clearChatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clearChatModalLabel">Clear Chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0">You're about to clear this chat. This action is permanent and cannot be undone. Do you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="clear-for-me">Clear All Chat</button>
      </div>
    </div>
  </div>
</div>