<!-- Modal HTML -->
<div class="modal fade" id="drive-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">🎉 Google Drive Connected!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="modal-close"></button>
      </div>
      <div class="modal-body">
        <p>Your chat backups will now be uploaded to your connected Google Drive automatically every day at 2:00 AM.</p>
      </div>
    </div>
  </div>
</div>
