<div class="modal account-delete-success fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">
                    <i class="fa fa-check-circle text-success me-2"></i>Account Deleted
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="warning-icon text-success">
                    <i class="fa fa-check"></i>
                </div>
                <h4>Account Deleted Successfully</h4>
                <p>Your account and all associated data have been permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="redirectToLogin">Go to Login Page</button>
            </div>
        </div>
    </div>
</div>