// msg list
.msg-box {
  > li {
    > h5,
    .document,
    .auto-gallery {
      display: inline-block;
      padding: 16px 25px;
      background-color: rgba(var(--primary-color),1);
      color: $white;
      border-radius: 0 25px 25px 0;
      font-weight: 600;
    }
    .refresh-block {
      display: inline-grid;
      justify-content: center;
      align-items: center;
      div {
        margin-left: 10px;
      }
      .refresh {
        margin-bottom: 10px;
        transition: all 0.3s ease;
        &:hover {
          color: $white !important;
          background-color: rgba(var(--primary-color),1) !important;
          transition: all 0.3s ease;
          cursor: pointer;
        }
        &.refreshed {
          color: $white !important;
          background-color: rgba(var(--primary-color),1) !important;
          svg {
            transform: rotate(360deg);
            transition: all 3s ease;
          }
        }
      }
      > div {
        &:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &:first-child {
      h5 {
        border-radius: 30px 25px 25px 0;
      }
    }
    &:last-child {
      h5,
      .document,
      .auto-gallery {
        border-radius: 0 25px 25px 30px;
      }
    }
    & + li {
      margin-top: 0;
      position: relative;
    }
  }
}
.contact-chat {
  padding: 0 calc(0px + (30 - 0) * ((100vw - 320px) / (1920 - 320))) 0;
  margin-top: 100px;
  > ul {
    &.str-msg {
      h5 {
        font-size: 13px;
      }
      h6 {
        font-size: 9px;
      }
      li {
        padding-left: 0 !important;
        width: 100%;
        .d-flex {
          .profile {
            margin-left: 0.7rem !important;
          }
        }
        .contact-name {
          .msg-box {
            margin-top: 5px;
          }
        }
        .msg-box > li > h5 {
          padding: 8px 25px;
          font-size: 12px;
          line-height: 1.6;
          color: $dark-color;
          background-color: $border-color1;
        }
        .profile {
          width: 30px;
          height: 30px;
        }
      }
    }
    &.chatappend {
      display: flex;
      flex-direction: column;
      gap: calc(4px + (14 - 4) * ((100vw - 320px) / (1920 - 320)));
      > li {
        &:last-child {
          .msg-box {
            > li {
              .msg-dropdown {
                bottom: 50px !important;
                top: unset !important;
              }
            }
          }
        }
        a {
          .link-text {
            color: #6d6d6d !important;
            font-size: 14px !important;
            font-weight: 500 !important;
            transition: all 0.4s ease-in-out;

            &:hover {
              background-color: unset !important;
              color: rgba(var(--primary-color),1) !important;
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
      .last {
        order: 999;
      }
    }
    > li {
      &.sent {
        .document {
          border-radius: 0 50px 50px 50px;
          .alignments {
            display: flex;
            align-items: end;
            .icon-btns {
              height: 32px !important;
              width: 32px !important;
              a {
                background-color: darken($primary-color, 3%) !important;
              }
            }
          }
          .details {
            h5,
            h6 {
              color: $light-color;
            }
          }
          i {
            color: $white !important;
            &.uploaded-data {
              background: white;
              height: 40px;
              width: 40px;
              border-radius: 100%;
              padding: 10px;
              font-size: 20px !important;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &.font-secondary {
              color: rgba($gray, 1) !important;
            }
            &.font-success {
              color: #3fcc35 !important;
            }
            &.font-primary {
              color: rgba(var(--primary-color),1) !important;
            }
            &.font-danger {
              color: $danger-color !important;
            }
            &.font-warning {
              color: $warning-color !important;
            }
          }
          .details,
          .icon-btns {
            display: inline-block;
          }
          .icon-btns {
            display: inline-block;
          }
        }

        .msg-box {
          .msg-setting-main {
            flex-direction: column !important;
            align-items: flex-start !important;
            background-color: rgba(var(--primary-color),1);
            color: $white;
            gap: 10px;
            border-radius: 0 25px 25px 0 !important;
            padding: 16px 20px;
            position: relative;
            .gallery-img-group {
              .img-set {
                h5 {
                  .aligns-arrow {
                    i {
                      color: rgba($white, 1);
                    }
                    &.deliver {
                      &::before {
                        content: "";
                        border-color: rgba($white, 1);
                      }
                    }
                    &.seen {
                      &::before {
                        content: "";
                        border-color: rgba(var(--primary-color), 1);
                      }
                    }
                  }
                  p {
                    color: rgba($white, 1) !important;
                  }
                }
              }
            }
            &:first-child {
              border-radius: 30px 25px 25px 0 !important;
            }
            &:last-child {
              border-radius: 0 25px 25px 30px !important;
            }
            h5 {
              background-color: unset;
              padding: unset;
              border-radius: unset;
            }
            .message-reactions {
              .reaction-count {
                background: rgba($gray1, 1);
                border-color: rgba($white, 1);
                &.user-reacted {
                  color: rgba($white, 1);
                  background: rgba($white, 0.3);
                  border: 1px solid rgba($white, 0.5);
                }
              }
            }
          }
        }
      }
      &.sent,
      &.replies {
        width: 80%;
        .profile {
          .avatar-circle {
            height: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
            width: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
            border-radius: calc(
              10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))
            );
          }
        }
        .auto-gallery {
          background-color: rgba(var(--primary-color), 0.15) !important;
          padding: 16px 25px 0 15px;
          li {
            display: inline-block !important;
            height: 85px;
            width: 85px;
            border-radius: $radious20;
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }
        .document {
          padding: 0;
          display: flex;
          align-items: end;
          .alignments {
            display: flex;
            align-items: end;
            .icon-btns {
              height: 32px !important;
              width: 32px !important;
              a {
                background-color: darken($gray1, 3%) !important;
                & + a {
                  margin-left: 10px;
                }
              }
            }
          }
          .aligns-arrow {
            position: relative;
            display: flex;
            margin-left: 6px;
            i {
              color: #4c4a4a;
              transform: rotate(9deg);
              font-size: 13px;
            }
            &.deliver {
              &::before {
                content: "";
                position: absolute;
                top: 0.9px;
                left: 11px;
                border: 1.4px solid #4c4a4a;
                height: 12.3px;
                width: 2.2px;
                transform: rotate(44deg) translateY(0.7px);
                border-left: 0;
                border-top: 0;
              }
            }
            &.seen {
              i {
                color: rgba(var(--primary-color),1);
              }
              &::before {
                border-color: rgba(var(--primary-color),1) !important;
              }
            }
          }
          .details {
            padding-inline: 16px;
            // padding-right: 30px;
            text-align: left;
            h5 {
              display: block;
            }
          }
          i {
            font-size: 40px;
          }
          .details,
          .icon-btns {
            display: inline-block;
          }
          .icon-btns {
            display: inline-block;
          }
        }
      }
      &.replies {
        margin-left: auto;
        text-align: right;
        .document {
          border-radius: 50px 0 50px 50px;
          color: $white !important;
          i {
            &.uploaded-data {
              background: white;
              height: 40px;
              width: 40px;
              border-radius: 100%;
              padding: 10px;
              font-size: 20px !important;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &.font-secondary {
              color: rgba($gray, 1);
            }
            &.font-success {
              color: #3fcc35 !important;
            }
            &.font-primary {
              color: rgba(var(--primary-color),1) !important;
            }
            &.font-danger {
              color: $danger-color !important;
            }
            &.font-warning {
              color: $warning-color !important;
            }
          }
        }
        .auto-gallery {
          padding: 16px 25px 5px 15px;
          li {
            float: right;
          }
        }
        .msg-box {
          .msg-setting-main {
            flex-direction: column !important;
            align-items: flex-start !important;
            background-color: rgba($gray1, 1);
            color: #223645;
            gap: 10px;
            border-radius: 25px 0 0 25px !important;
            padding: 16px 20px;
            body.dark & {
              background-color: #191b1f;
              color: rgba($white, 1);
            }
            &:first-child {
              border-radius: 30px 25px 0 30px !important;
            }
            &:last-child {
              border-radius: 30px 0 25px 30px !important;
            }
            h5 {
              background-color: unset;
              padding: unset;
              border-radius: unset;
            }
            .message-reactions {
              .reaction-count {
                &.user-reacted {
                  background: rgba(var(--primary-color), 0.1);
                  border-color: rgba(var(--primary-color), 0.3);
                  color: rgba(var(--primary-color),1);
                }
              }
            }
          }
        }
        .msg-box {
          li {
            display: inline-flex;
            &:first-child {
              h5 {
                border-radius: 30px 25px 0 30px;
              }
            }
            &:last-child {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              margin-left: auto;
              h5,
              .auto-gallery {
                border-radius: 30px 0 25px 30px;
              }
            }
            &:has(.replied) {
              h5 {
                padding-right: 0;
              }
            }
            > h5,
            .document,
            .auto-gallery {
              background-color: $gray1;
              color: $dark-color;
            }
            .badge {
              margin-left: 0 !important;
              margin-right: 0.5rem !important;
            }
          }
        }
        .d-flex {
          flex-direction: row-reverse;
          .profile {
            margin-left: 1.5rem !important;
            margin-right: 0 !important;
          }
        }
        .msg-setting-main {
          .msg-dropdown-main {
            .msg-setting {
              margin-right: 10px;
              margin-left: unset;
            }
          }
        }
      }
      & + li {
        margin-top: 10px;
      }
      .contact-name {
        .msg-box {
          margin-top: 15px;
          img {
            width: 130px;
          }
        }
        > h5 {
          margin-bottom:calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
        }
        h5 {
          display: inline-block;
          padding-right: 20px;
          line-height: 1.4;
        }
        h6 {
          display: inline-block;
        }
      }
    }
  }
}
.msg-setting-main {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: all 0.5s ease;
  .msg-dropdown-main {
    position: relative;
    display: none;
    transition: all 0.5s ease;
    .msg-setting {
      background-color: $gray1;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
    .msg-dropdown {
      background-color: $white;
      border: 2px solid $border-color;
      padding: 15px;
      border-radius: 15px;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 1;
      text-align: left;
      display: none;
      transition: all 0.5s ease;
      ul {
        li {
          font-size: 14px;
          font-weight: 600;
          text-transform: capitalize;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: $black1;
            width: 100%;
            i {
              font-size: 16px;
              display: inline;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
  &.message-highlight {
    h5 {
      color: rgba($black, 0.7) !important;
      p {
        color: rgba($black, 0.7) !important;
      }
    }
  }
  &:hover {
    .msg-dropdown-main {
      display: inline-block;
      order: 0;
    }
  }
}
